# Moirai Application Environment Variables
#
# This file contains the environment variables used by the Moirai application.
# Copy this file to .env and fill in the values for your local environment.

# The full URI for the CouchDB instance.
# Example: http://admin:password@localhost:5984/
COUCHDB_URI=http://localhost:5984/

# The interval in seconds for the scheduler to fetch new feeds.
ITERATION_INTERVAL=600

# The port for the Flask application to run on.
HTTP_PORT=8088

# The OpenAI API key.
OPENAI_API_KEY=

# The Ollama base URL.
OLLAMA_BASE_URL=http://localhost:11434/v1

# The number of days after which an article is considered expired and will be skipped.
ARTICLE_EXPIRATION_DAYS=30

# The username for the API.
API_USERNAME=username
# The password for the API.
API_PASSWORD=password

# The password for the CouchDB admin user.
COUCHDB_PASSWORD=password
# A secret for CouchDB to sign cookies.
COUCHDB_SECRET=secret
