flask
feedparser
requests
flask-wtf
schedule
beautifulsoup4
python-dateutil
pytest
pytest-asyncio
mcp[cli]
httpx[http2]
openai
uvicorn
flask-limiter
prometheus-flask-exporter
pydantic
validators
bleach
starlette-prometheus
prometheus_client

google-generativeai
