flask
feedparser
requests
flask-wtf
schedule
beautifulsoup4
python-dateutil
pytest
mcp[cli]
openai
uvicorn
flask-limiter
prometheus-flask-exporter
pydantic
validators
bleach
starlette-prometheus
prometheus_client

